.travelhub {
  width: 90px;
}
.kampot-tov-view {
  width: 150px;
  height: auto;
}
.noto-sans-khmer {
  font-family: "Noto Sans Khmer", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.pointer {
  cursor: pointer;
}
.hero-section h1 {
  font-weight: 300;
  font-size: 1.5rem;
}
.box-sizing {
  box-sizing: border-box;
}
/* Universal box-sizing rule for consistency */
html {
  box-sizing: border-box;
}
.anima {
  transition: transform 0.3s ease-in-out;
}

.anima:hover {
  transform: scale(1.01);
}
.zindex {
  z-index: 220;
}
.container-fluid video {
  width: 100%;
  height: auto; /* Maintains the aspect ratio */
}

/* Video */

/* Responsive Media */
@media (max-width: 1200px) {
  .home-img-1 {
    height: 60vh !important;
    width: auto;
    background-size: contain !important;
    object-fit: cover !important;
  }
}
@media (max-width: 768px) {
  .home-img-2 {
    height: 60vh;
    width: auto !important;
    background-size: contain !important;
    margin-left: -200px;
  }
}
@media (max-width: 400px) {
  .home-img-3 {
    height: 60vh;
    width: auto !important;
    background-size: contain !important;
    margin-left: -290px;
  }
}
