/* Google Fonts */

.suse-mono-uniquifier {
  font-family: "SUSE Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.great-vibes-regular {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PalmDeChunky";
  src: url(./Fonts/PalmDeChunkyPersonalUseOnly-Regular.ttf);
}
body {
  font-family: "Roboto", sans-serif;
  color: #333;
}

.travelhub {
  width: 90px;
}
.noto-sans-khmer {
  font-family: "Noto Sans Khmer", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.pointer {
  cursor: pointer;
}

/* ------------------------------ */
@media (max-width: 1200px) {
  .travelhub {
    width: 80px;
  }
  .home-media-1 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -250px !important;
  }
  .home-media-2 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
  }
}
@media (max-width: 768px) {
  .travelhub {
    width: 80px;
  }
  .home-media-1 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -450px !important;
  }
  .home-media-2 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -300px !important;
  }
  .home-media-3 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -600px !important;
  }
}
@media (max-width: 480px) {
  .travelhub {
    width: 70px;
  }
  .home-media-1 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -620px !important;
  }
  .home-media-2 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -470px !important;
  }
  .home-media-3 {
    object-fit: cover !important;
    background-size: contain !important;
    height: 50vh;
    width: auto !important;
    margin-left: -720px !important;
  }
}
